.hideInPrint{display:none;}

.section{border-bottom: 1px solid #ccc;margin-bottom: 50px;padding-bottom: 50px;width: 930px;font-size: 15px;}
.links{font-size: 15px;margin-left: 30px;}
.chartdesc{font-size:12px;}
.intro{font-size:13px;}
#text_editor{
		box-shadow: 1px 1px 40px #999;
		overflow:hidden;
		padding:5px;z-index:99999;
		border:1px solid blue;
		position:fixed;
		top: 50%;left: 50%;
		width:700px;
		height:400px;
		margin-top: -150px; /*set to a negative number 1/2 of your height*/
		margin-left: -350px; /*set to a negative number 1/2 of your width*/
		border: 1px solid #ccc;background-color: #fff;display:none;
	}
#text_editor .title_bar{position:relative;float:left;width:100%;background:#276696;margin-bottom:5px;}
#text_editor .title_bar #title{font-weight:bold;color:#fff;padding:5px;position:relative;float:left;}
#text_editor .title_bar #close_editor{font-weight:bold;color:#fff;padding:5px;position:relative;float:right;cursor:pointer}
#text_editor .textarea_container{position:relative;float:left;width:99%;height:12em;overflow:hidden;border:1px solid #efefef;margin-bottom:5px;}
#text_editor textarea{resize:none;position:relative;float:left;width:95%;border:none;}
#text_editor #update_text{padding:5px;background:#cad5e5;position:relative;float:right;cursor:pointer}

#charts {width:100%;}
.chart_container_sm{position:relative;float:left;width:100%;overflow-x:auto;margin:0 0 10px 0;border:1px solid #efefef;}
.chart_container_sm .charts{margin:10px 0;}
/*.left {float:left; margin-right:5px;}
.right {float:right;margin-left:5px;}*/

#chartimagecontainer{
	box-shadow: 1px 1px 40px #999;
	overflow:hidden;
	padding:15px 5px;z-index:99999;
	border:1px solid blue;
	position:fixed;
	top: 0;left: 0;
	width:100%;
	height:100%;
	margin: 0;
	border: 1px solid #ccc;background-color: #fff;display:none;
}
#chartimagecontainer img{margin-bottom:10px;}
#chart_actions {border:1px solid #efefef; position:absolute;top:0;right:5px;margin:4px;padding:4px;display:none;}
.toImage, .interpretation{cursor:pointer;background:#efefef;padding:4px;margin-bottom:2px}
.toImage:hover,.interpretation:hover{box-shadow:1px 1px 5px 0px rgba(0,0,0,0.75)}

.charts{min-height:400px;width:100%;padding:0}
.editable{width:100%;min-height:10px;margin:5px 5px 0 5px;}
.row{position:relative;float:left;width:100%;margin:10px 0;border:1px solid #efefef;overflow:hidden;}
.row .row-heading{margin:4px 5px;}
.row .content{margin:0 5px 4px 5px;}
.loading{width:100%;text-align:center;font-size:30px;color:#e9e9e9;margin-top:20px 0;}
.reporting-site-count{font-weight:bold;font-size:16px;margin-top:10px;color:#d1d1d1;}
.rowWithDeath{background:#fbdddd}